@use "../abstracts/variables";

/*About CSS*/

#about {
  background-color: $color-primary;
  display: flex;
  flex-wrap: wrap;
}


/*About CSS*/

.about-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.about-info-left {
  height: 90vh;
  width: 50vw;
  padding: 3%;

  align-items: center;

  & ul {
    list-style-type: none;
  }

  & li {
    text-indent: 2%;
  }
}

.about-info-right {
  height: 90vh;
  width: 50vw;
  display: flex;
  justify-content: center;

  & img {
    width: auto;
    height: 300px;
  }
}



/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {

  /*media about*/
 #about {
   flex-direction: column;
   align-items: flex-start;
   flex-wrap: wrap;
   padding-block-end: 10%;
 }

 .about-container {
   flex-direction: column;
   flex-wrap: wrap;
   row-gap: 8px;
 }

 .about-info-left {
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: auto;


   & li {
     text-indent: 1%;
   }
 }

 .about-info-right {
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   height: auto;

   & img {
     width: 70vw;
     height: auto;
   }
 }
}