@use "../abstracts/variables";

/* Contact Me */
.contact-me-container {
  background-color: $color-primary;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
 
&__frame {
  border-radius: 5px;
  background-color: $color-primary-light;
  padding: 10px;
  width: 80%;
  border: $color-secondary solid 1px;
  margin: auto;// puts div centre align box in center of page
}

&__line {
  display: flex;

  flex-direction: row;
  padding: 10px 30px;
  width: 90%;
}


&__message {
  display: flex;

  flex-direction: row;
  padding: 10px 30px;
  width: 90%;
  height: 350px;
}

  &__txt {
    display: flex;
    width: 100%;
 
}

&__button{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


}



label {
  color: $color-white;
  align-content: flex-start;
  width: 10%;
  font-size: 24px;
}

textarea {
  font-size: 24px;
  height: auto;
}

input {
  width: 100%;
  font-size: 24px;
  height: fit-content;
}





/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {

  /*media contact me */
  .contact-me-container {
    padding: 20px 10px 60px 10px;
  
    &__frame {
      padding: 1px;
      width: 99%;
    }
  
    &__line {
      flex-direction: column;
      padding: 5px;
      width: 95%;
    }

    &__message {
      flex-direction: column;
      padding: 5px;
      width: 95%;
      height: 200px;
    }

    &__txt {
      display: flex;
      width: 100%;
    }

  }

 
  label {
    color: $color-white;
    align-content: flex-start;
    width: 30%;

  }

  textarea {
    height: 200px;
  }
}

