@use "../abstracts/variables";

/*Intro CSS*/

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95vh;
  background-color: $color-primary;
  


&__intro {
  height: 40vh;
  width: auto;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

&__span-yellow {
  color: $color-secondary;
}

&__sub-section {
  height: 30vh;
  width: auto;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}


&__button-section {
  height: 25vh;
  width: 100vw;
  background-color: $color-primary;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {

  /*media header*/
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
  }
}