@use "../abstracts/variables";

.navigation {
  width: 100%;

  height: 7vh;
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background: $color-primary-light;
}



/*Nav bar*/

.logo {
  width: 10%;
  padding-left: 30px;


  & a {
    color: $color-secondary;
    font-size: 38px;
  }
}

.nav-links {
  width: 60%;
  padding: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-links-icons {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  justify-content: space-evenly;



&__i {
  color: $color-secondary;
  font-size: 1.25em;
}
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {

  /*Media nav*/
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    height: 35vh;
  }

  .logo {
    height: 6vh;
  }

  .nav-links{
    flex-direction: column;
    align-items: flex-start;
 

  &__items {
    height: 5vh;
  }
}

  .nav-links-icons {
    justify-content: flex-start;

    &__i {
      padding-right: 15px;
    }
  }
}