@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");

$font-body: "Roboto", sans-serif;
$font-display: "Dancing Script", cursive;

$color-primary: #090b18;
$color-primary-light:#262835;
$color-secondary: #ffb900;
$color-black: #333333;
$color-white: #ffffff;
