@use "../abstracts/variables";



.button {
  width: 200px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: $color-primary-light;
  border: $color-secondary solid 1px;
  color: $color-white;
  text-decoration: none;
}



.p-header {
  height: 10vh;
  width: 100%;
  color: $color-secondary;
  text-decoration: underline;
  text-align: center;
}
