@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
li {
  color: #ffffff;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

a {
  font-size: 1.5rem;
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
}
.navigation {
  width: 100%;
  height: 7vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #262835;
}

/*Nav bar*/
.logo {
  width: 10%;
  padding-left: 30px;
}
.logo a {
  color: #ffb900;
  font-size: 38px;
}

.nav-links {
  width: 60%;
  padding: 10px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-links-icons {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 20px;
  justify-content: space-evenly;
}
.nav-links-icons__i {
  color: #ffb900;
  font-size: 1.25em;
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {
  /*Media nav*/
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    height: 35vh;
  }

  .logo {
    height: 6vh;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links__items {
    height: 5vh;
  }

  .nav-links-icons {
    justify-content: flex-start;
  }
  .nav-links-icons__i {
    padding-right: 15px;
  }
}
/*Intro CSS*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95vh;
  background-color: #090b18;
}
.header__intro {
  height: 40vh;
  width: auto;
  background-color: #090b18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.header__span-yellow {
  color: #ffb900;
}
.header__sub-section {
  height: 30vh;
  width: auto;
  background-color: #090b18;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.header__button-section {
  height: 25vh;
  width: 100vw;
  background-color: #090b18;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {
  /*media header*/
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
  }
}
/*About CSS*/
.about {
  background-color: #090b18;
  display: flex;
  flex-wrap: wrap;
}
.about__container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about__left {
  height: 90vh;
  width: 50vw;
  padding: 3% 0% 3% 3%;
  align-items: center;
}
.about__left ul {
  list-style-type: none;
}
.about__left li {
  text-indent: 2%;
}
.about__right {
  height: 90vh;
  width: 50vw;
  padding: 3% 3% 3% 0%;
  display: flex;
  justify-content: center;
}
.about__right img {
  width: auto;
  height: 300px;
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {
  /*media about*/
  .about {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-block-end: 10%;
  }
  .about__container {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 8px;
  }
  .about__left {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .about__left li {
    text-indent: 1%;
  }
  .about__right {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }
  .about__right img {
    width: 70vw;
    height: auto;
  }
}
/*Project */
#project-container {
  background-color: #090b18;
  padding: 40px;
}

/*Project CSS*/
.project {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  padding: 10px;
}
.project__left-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 70%;
  border: 1px solid #ffb900;
}
.project__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 5vh;
  width: 96%;
}
.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 15vh;
  width: 96%;
}
.project__description h4 {
  color: #ffffff;
}
.project__buttons-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 7vh;
  width: 96%;
}
.project__buttons-skills-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 7vh;
  width: 50%;
}
.project__skills-button {
  display: flex;
  flex-direction: column;
  background-color: #262835;
  border: none;
  color: #ffffff;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  font-size: 16px;
  width: 12%;
}
.project__links-frame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 7vh;
  width: 50%;
}
.project__links-button {
  display: flex;
  flex-direction: row;
  background-color: none;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  background-color: #ffb900;
  border: none;
  color: #ffffff;
  padding: 15px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 24%;
}
.project__right-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 25%;
  border: 1px solid #ffb900;
}
.project__right-frame img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {
  /*media Projects*/
  #project-container {
    padding: 10px;
  }

  .project {
    flex: column;
    padding: 4px 4px 10px 4px;
  }
  .project__left-frame {
    height: auto;
    width: 100%;
    border: 1px solid #ffb900;
  }
  .project__title {
    height: auto;
    padding: 10px 0px 10px 0px;
  }
  .project__description {
    height: auto;
    padding: 10px 0px 10px 0px;
  }
  .project__buttons-parent {
    flex-direction: column;
    height: auto;
    row-gap: 8px;
  }
  .project__buttons-skills-frame {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .project__links-frame {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 10px 0px 10px 0px;
  }
  .project__links-button {
    height: auto;
  }
  .project__right-frame {
    height: auto;
    width: 100%;
    border: 1px solid #ffb900;
    padding: 10px 0px 10px 0px;
  }
  .project__right-frame img {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
  }
}
/* Contact Me */
.contact-me-container {
  background-color: #090b18;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-me-container__frame {
  border-radius: 5px;
  background-color: #262835;
  padding: 10px;
  width: 80%;
  border: #ffb900 solid 1px;
  margin: auto;
}
.contact-me-container__line {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  width: 90%;
}
.contact-me-container__message {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  width: 90%;
  height: 350px;
}
.contact-me-container__txt {
  display: flex;
  width: 100%;
}
.contact-me-container__button {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

label {
  color: #ffffff;
  align-content: flex-start;
  width: 10%;
  font-size: 24px;
}

textarea {
  font-size: 24px;
  height: auto;
}

input {
  width: 100%;
  font-size: 24px;
  height: fit-content;
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {
  /*media contact me */
  .contact-me-container {
    padding: 20px 10px 60px 10px;
  }
  .contact-me-container__frame {
    padding: 1px;
    width: 99%;
  }
  .contact-me-container__line {
    flex-direction: column;
    padding: 5px;
    width: 95%;
  }
  .contact-me-container__message {
    flex-direction: column;
    padding: 5px;
    width: 95%;
    height: 200px;
  }
  .contact-me-container__txt {
    display: flex;
    width: 100%;
  }

  label {
    color: #ffffff;
    align-content: flex-start;
    width: 30%;
  }

  textarea {
    height: 200px;
  }
}
/*Footer */
footer {
  background-color: #262835;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}
.footer-container__text {
  color: #ffffff;
  padding-right: 10px;
}
.footer-container__icons {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
}
.footer-container__icons i {
  color: #ffb900;
  font-size: 1.5em;
}

/*Page max 800 px then stacks, padded with space between*/
@media (max-width: 800px) {
  /*Media Footer */
  .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    row-gap: 8px;
  }
  .footer-container__icons i {
    padding-right: 15px;
  }
}
.button {
  width: 200px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #262835;
  border: #ffb900 solid 1px;
  color: #ffffff;
  text-decoration: none;
}

.p-header {
  height: 10vh;
  width: 100%;
  color: #ffb900;
  text-decoration: underline;
  text-align: center;
}